@media (max-width: 600px){
    .home-hero{
        padding-top: 0;
        flex-direction: column;
    }
    .home-image1{
        width: 100%;
        height: auto;
        order: 1;
    }
    .home-hero-text-container{
        width: 100%;
        order: 2;
        margin-left: 0;
    }
    .home-cta-btn2{
        padding: 1em;
        align-self: center;
    }
    .home-navbar-container{
        position: static;
    }
    .home-heading-container{
        width: 100%;
    }
    .home-feature-card,
    .home-feature-card2,
    .home-feature-card1{
        width: auto;
    }
    .home-features{
        height: auto;
    }
    .home-stats{
       display: block;
    }
}