@media (max-width: 600px){
    .home-navbar1{
        display: none;  
    }
    .home-footer1{
        display: flex;
        flex-direction: column-reverse;
    }
    .category-card-category-card{
        flex: 1 0 45%;
    }
   
    .category-card-image{
        width: 100%;
    }
    .home-full-width-banner{
        display: flex;
        flex-wrap: wrap;
    }
    .home-image6{
        flex: 1 0 auto;
    }
   .blog-post-card-blog-post-card{
    max-width: none;
   }
   .home-links-container{
        flex-direction: column;
   }
   .home-content{
       margin: 1em;
       padding-top: 0.5em;
   }
   .home-text30{
      width: 550px;
   }
   .home-btn{
    margin-bottom: 1.5em;
   }
   .home-container09{
     margin-top: 3em;
   }
}